@model IEnumerable<Diplomm.Models.Tables.OrganizationTable>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a class="bi bi-plus-square" asp-action="Create"></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShopName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShopName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a class="bi bi-pencil-square" asp-action="Edit" asp-route-id="@item.ShopId"></a> |
                <a class="bi bi-trash"  asp-action="Delete" asp-route-id="@item.ShopId"></a>
            </td>
        </tr>
}
    </tbody>
</table>
