@model IEnumerable<Diplomm.Models.Tables.ReportTable>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Отчет</h1>

<p>
    Здесь вы можете вывести нужную информацию о работе сотрудников
</p>
<form id="dateForm" method="GET" class="form-group">
    <div class="row justify-content-center">
        <div class="col-md-auto">
            <label>От:</label>
            <input id="fromDate" type="date" name="FromDate" class="form-control" required />
        </div>
        <div class="col-md-auto">
            <label>До:</label>
            <input id="toDate" type="date" name="ToDate" class="form-control" required />
        </div>
        <div class="col-md-auto">
            <label class="control-label" >Тип: </label>
            <input id="type" type="search" name="Type" class="form-control" required />
        </div>
         <div class="col-md-auto">
            <label class="control-label">Сотрудник: </label>
            <input id="employee" type="search" asp-items="ViewBag.fkReplacement" name="Employee" class="form-control" required />
        </div>
         <div class="col-md-auto">
            <button class="btn btn-primary btn-sm" type="submit">Отчет</button>
        </div>
    </div>
</form>
<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Дата/время")
            </th>
            <th>
                @Html.DisplayName("Замена")
            </th>
            <th>
                @Html.DisplayName("Тип")
            </th>
            <th>
                @Html.DisplayName("Дисциплина")
            </th>
            <th>
                @Html.DisplayName("Группа")
            </th>
            <th>
                @Html.DisplayName("Преподаватель")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lesson.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Replacement.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReportId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.ReportId">Просмотр</a> |
                <a asp-action="Delete" asp-route-id="@item.ReportId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
