@using System.ComponentModel.DataAnnotations
@using Diplomm.Models.Tables
@model List<IGrouping<OrganizationTable?, TimetableTable>>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Расписание</h1>

<p>
    <a asp-action="Create">Добавить урок</a>
</p>

<table>
    <thead>
        <tr>
            <th></th>
            @foreach (var item in Enum.GetValues(typeof(DayOfWeeks)))
            {
                <th>@((item.GetType().GetField(item.ToString()).GetCustomAttributes(typeof(DisplayAttribute), false) as DisplayAttribute[])[0].Name)</th>
            }
        </tr>
        <tr>
            <th></th>
            <th>№</th>
            <th colspan="5"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model)
        {
            <tr>
                <td>@group.First().Organization.ShopName</td>
                @foreach (var item in Enum.GetValues(typeof(DayOfWeeks)))
                {
                    <td>
                        <table>
                            @foreach (TimetableTable groupDayOfWeek in group.Where(it => it.DayOfWeek == (DayOfWeeks)item))
                            {
                                <tr>
                                    <td>@(groupDayOfWeek.Number)</td>
                                    <td>@(groupDayOfWeek.Post.PostName)</td>
                                    <td rowspan="2"><a class="btn btn-secondary" asp-controller="TimetableTables" asp-action="Edit" asp-route-id="@groupDayOfWeek.TimetableID"><i class="bi bi-pencil-square"></i></a><a class="btn btn-danger" asp-controller="TimetableTables" asp-action="Delete" asp-route-id="@groupDayOfWeek.TimetableID"><i class="bi bi-trash"></i></a></td>

                                </tr>
                                <tr>
                                    <td></td>
                                    <td><small>@(groupDayOfWeek.Employee.FullName)</small></td>
                                </tr>
                            }
                        </table>
                        <a class="btn btn-outline-primary btn-sm" asp-controller="TimetableTables" asp-action="Create" asp-route-idShop="@(group.First().fkOrganizations)" asp-route-dayOfWeek="@((DayOfWeeks)item)">Добавить</a>
                    </td>
                }
            </tr>
            <tr>
                <td colspan="8"><hr /></td>
            </tr>
        }
    </tbody>
</table>