@using Diplomm.Models.Tables;
@using System.ComponentModel.DataAnnotations;
@using Diplomm.Components;
@addTagHelper *, Diplomm
@model List<IGrouping<OrganizationTable?, TimetableTable>>
@{
    ViewData["Title"] = "Home Page";
}


    <div class="text-center">
        <h1 class="display-3">Добро пожаловать!</h1>
        <vc:account-menu></vc:account-menu>
    </div>

<div class="text-center">
    <h1 class="display-4">Актуальное расписание</h1>
    <h2>@ViewBag.Dates</h2>
</div>


<table>
    <thead>
        <tr>
            <th></th>
            @foreach (var item in Enum.GetValues(typeof(DayOfWeeks)))
            {
                <th>@((item.GetType().GetField(item.ToString()).GetCustomAttributes(typeof(DisplayAttribute), false) as DisplayAttribute[])[0].Name)</th>
            }
        </tr>
        <tr>
            <th></th>
            <th>№</th>
            <th colspan="5"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model)
        {
            <tr>
                <td>@group.First().Organization.ShopName</td>
                @foreach (var item in Enum.GetValues(typeof(DayOfWeeks)))
                {
                    <td>
                        <table>
                            @foreach (TimetableTable groupDayOfWeek in group.Where(it => it.DayOfWeek == (DayOfWeeks)item))
                            {
                                string style = "";
                                if(groupDayOfWeek.Number == 0)
                                {
                                    style = "cancel";
                                }
                                <tr>
                                    <td>@if (groupDayOfWeek.Number == 0) { <i class="bi bi-x-circle"></i> } else { @(groupDayOfWeek.Number) }</td>
                                    <td class="@(style)"> @(groupDayOfWeek.Post.PostName)</td>
                                    @if (User.IsInRole("Admin")) {
                                    <td rowspan="2"><a class="btn btn-secondary" asp-controller="ChangesTables" asp-action="Create" asp-route-idTimetable="@(groupDayOfWeek.TimetableID)"><i class="bi bi-arrow-down-up"></i></a><a class="btn btn-danger" asp-controller="ChangesTables" asp-action="Create" asp-route-idTimetable="@(groupDayOfWeek.TimetableID)" asp-route-chancheAction="@(ChancheActions.Cancel)"><i class="bi bi-x-circle"></i></a></td>
                                    }
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><small>@(groupDayOfWeek.Employee.FullName)</small></td>
                                    <td></td>
                                </tr>
                            }
                        </table>
                        @if (User.IsInRole("Admin")) {
                            <a class="btn btn-outline-primary btn-sm" asp-controller="TimetableTables" asp-action="Create" asp-route-idShop="@(group.First().fkOrganizations)" asp-route-dayOfWeek="@((DayOfWeeks)item)">Добавить</a>
                        }
                    </td>
                }
            </tr>
            <tr>
                <td colspan="8"><hr /></td>
            </tr>
        }

    </tbody>

</table>
