@model Diplomm.Models.Tables.ChangesTable

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ChangesTable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateChange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateChange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cancel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cancel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Replacement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Replacement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timetable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timetable.TimetableID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employees.EmployeesId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ChangeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
