@model IEnumerable<Diplomm.Models.Tables.ChangesTable>

@{
    ViewData["Title"] = "Index";
}

<h1>Отчет</h1>
<form id="dateForm" method="GET" class="form-group">
    <div class="row justify-content-center">
        <div class="col-md-auto">
            <label>От:</label>
            <input id="fromDate" type="date" name="FromDate" class="form-control" required />
        </div>
        <div class="col-md-auto">
            <label>До:</label>
            <input id="toDate" type="date" name="ToDate" class="form-control" required />
        </div>
        <div class="col-md-auto">
            <label class="control-label">Сотрудник: </label>
            <select id="employee" type="search" asp-items="ViewBag.fkEmployee" name="employee" class="form-control"></select>
        </div>
        <div class="col-md-auto">
            <button class="btn btn-primary btn-sm" type="submit">Отчет</button>
        </div>
    </div>
</form>

<p title="Часы, которые сотрудник должен был отработать"> Всего: @ViewBag.Tarif </p>
<p title="Часы, которые сотрудник работал за другого сотрудника"> Заменял: @ViewBag.Replacement ч.</p>
<p title="Часы, которые совсем отменили"> Отменено: @ViewBag.Cancel ч.</p>
<p title="Часы, на которые сотрудник не явился, заменял другой сотрудник"> Пропущено: @ViewBag.Rep ч.</p>
<p title="Часы, которые сотрудник отработал"> Итого: @ViewBag.All ч.</p>
