@model IEnumerable<Diplomm.Models.Tables.EmployeesTable>

@{
    ViewData["Title"] = "Index";
}
@if (User.IsInRole("Admin"))
{
    <p>
    <a asp-action="Create">Добавить сотрудника</a>
</p> }
<table class="table">
    <thead>
        <tr>

            <th>
                Имя
            </th>
            <th>
                Фамилия
            </th>
            <th>
                Отчество
            </th>
            <th>
                Логин
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <form asp-controller="EmployeesTables" asp-action="Delete" asp-route-id="@item.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                </form>


            </td> }
        </tr>
}
    </tbody>
</table>
