@model IEnumerable<Diplomm.Models.Tables.EmployeesTable>

@{
    ViewData["Title"] = "Index";
}

<h1>Сотрудники</h1>

<p>
    <a class="bi bi-plus-square" asp-action="Create"></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posts.PostName)
            </td>
            <td>
                <a class="bi bi-pencil-square" asp-action="Edit" asp-route-id="@item.EmployeesId"></a> |
               @*  <a asp-action="Details" asp-route-id="@item.EmployeesId">Details</a> | *@
                <a class="bi bi-trash" asp-action="Delete" asp-route-id="@item.EmployeesId"></a>
            </td>
        </tr>
}
    </tbody>
</table>
