@model IEnumerable<Diplomm.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h1>Должности</h1>

<p>
    <a class="bi bi-plus-square" asp-action="Create"></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostName)
            </td>
            <td>
                <a class="bi bi-pencil-square" asp-action="Edit" asp-route-id="@item.PostId"></a> |
                @* <a asp-action="Details" asp-route-id="@item.PostId">Details</a> | *@
                <a class="bi bi-trash" asp-action="Delete" asp-route-id="@item.PostId"></a>
            </td>
        </tr>
}
    </tbody>
</table>
